<div class="box">
    <div class="bob">
        <div style="padding: 10px; width:fit-content;" >
            <div style="padding-top: 10px ;">
                <input type="text" placeholder="Username" pInputText />
            </div>
            <div style="padding-top: 10px ;">
                <p-password placeholder="Password"></p-password>
            </div>
            <div style="padding-top: 13px; display: flex; justify-content: center;">
                <p-button (onClick)="gotoproject()">Log In</p-button>
            </div>
        </div>
    
    </div>
</div>
