* {
    margin: 0;
    padding: 0;
    background-color: rgb(248, 247, 242);
    color: rgb(24, 78, 96);
   }

   .homeComponent{
    background-color: rgb(235, 238, 235);
    margin:3%; 
    width: 94%;
    height: auto;
   }
   .homeComponent *{
    background-color: rgb(235, 238, 235);
    
    
   }

    * p{
    font-size: 20px;
    }
    * li{
    font-size: 20px;
    }

    .insideComponent{
        padding: 2%;
    }

    .formComponent{
        background-color: rgb(235, 238, 235);
        margin:3%; 
        width: 94%;
        height: auto;
       }
    
       .formComponent *{
        background-color: rgb(235, 238, 235);
       }