<div class="homeComponent" >
    <div style="margin:20px" class="insideComponent ">
        <h2>Contact Form</h2>
        <form>
            <input type="text" pInputText class="p-inputtext" placeholder="First Name">   
            <input type="text" pInputText class="p-inputtext" placeholder="Last Name">
            <input type="text" pInputText class="p-inputtext" placeholder="Email">
            <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true" placeholder="Email"></textarea>
        </form>
 

        <p-button label="Click" ></p-button>
    </div>
</div>
