<div class="homeComponent" >
    <div style="margin:20px">
        <h2>Contact Form</h2>
    <div>
        <label for="float-input">First Name</label>
        <input id="float-input" type="text" pInputText> 
    </div>
    <div>
        <label for="float-input">Last Name</label>
        <input id="float-input" type="text" pInputText> 
    </div>
    <div>
        <label for="float-input">Email</label>
        <input id="float-input" type="text" pInputText> 
    </div>
    <div>
        <label for="float-input">Message</label>
        <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"></textarea>
    </div>

    <p-button label="Click" ></p-button>
    </div>
</div>
