<div class="formComponent" style="border-radius: 15px 15px 15px 15px;" >
    <div style="margin:20px;  padding: 10px;" class="insideComponentForm ">
        <p-messages [(value)]="msgs"></p-messages>
        <h2>Contact Form</h2>
        <form [formGroup]="contactForm">
            <input type="text" pInputText class="p-inputtext" placeholder="First Name" formControlName="firstName">   
            <input type="text" pInputText class="p-inputtext" placeholder="Last Name" formControlName="lastName">
            <input  type="email" type="text" pInputText class="p-inputtext" placeholder="Email" formControlName="email">
            <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true" placeholder="Message" 
            formControlName="message"></textarea>
            <p-button type="submit" [disabled]="!contactForm.valid" (onClick)="onSubmit(contactForm)">Submit</p-button>
        </form>
 
    </div>
</div>
