<div class="homeComponent" >
    <div class="insideComponent">
        <div >
            <h2 >The Idea</h2>
        </div>
        <div  style="display:inline-flex; align-items: center;">
            <div style="padding-top:10px">
            <p> Managing documents is an essental part of many jobs and most companies
                end up relying on a third party product to store files. The problem that these
                products have is how they make their profits. They typically charge monthly fees along
                with costs to adding new memebers, and the worst part, the cost of storage.  </p>
            <p style="padding-top:10px">  At the moment                buying storage with a company like AWS will cost around $0.023 per GB, whereas many
                    document storage companies will charge around $20 per month per person for about 50 gb of storage. Although 
                    $20 is not a huge amount of money it adds up with every employee and month. 
            <p style="padding-top:10px">  File Man has a goal of 
                trying to eleminate the need for these third party companies and put you the user in charge of 
                your storage. 
            </p>
            </div>
            <div style="padding-left: 20px;">
                <img src="../../../../assets/images/Cloud storage.png"  width="300" >
            </div>
        </div>


        <div style="padding-top:40px;">
            <h2> What We Do </h2>
        </div>
        <div style="padding-top:10px">
            <p>
                File Man is not a cloud based file management system. We are a file management system with a twist. The twist is that
                we do not actually store any files for you. File Man provides the code necessary to have a fully functioning
                file management system for you or your company. This means that we are not in charge of where you put your data or the 
                servicers in which you run your website. 
            </p>
            <p style="padding-top:20px">
                Here are some of the reasons why you might benefit from switching to a File Man system:
            </p>
            <ul style="padding-top: 5px; padding-left: 2%;">
                <li>The code is yours. You can make any alterationg to the program.</li>
                <li>You can choose which cloud based storage service you want to use.</li>
                <li>You can connect to multiple databases at the same time.</li>
                <li>There are levels of permissions which restricts workers from deleting or changing files.</li>
                <li>You can add custom descriptors to each project for organization.</li>
                <li>Makes exporting large quantities of documents very easy.</li>
            </ul>
        </div>

        <div style="padding-top:40px;">
            <h2> The Stack </h2>
        </div>
        <div >
        <p style="padding-top:20px">
            We choose our stack to make it easy for manipulation in the case anyone wants to add onto the existing code.
        </p>
            <ul style="padding-top: 5px; padding-left: 2%;">
                <li>Angular Front-End</li>
                <li>C# Back-End</li>
                <li>MySQL Database</li>
            </ul>
        </div>

    </div>
</div>


